# режим логирования для gin и эндпоинтов
# debug/release
GIN_MODE=debug

# устанавливает решение по умолчанию 
# для ситуаций, когда для конкретного сервиса не существует политики или правила
# true/false 
DEFAULT_DECISION=true

# версия api
API_VERSION=1

JWT_SECRET_KEY=WKp7IAyODtKiOTDxvZtdNfqAwrApEoXG19GlQljTdWD

# pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5051

# конфигурация бд
DB_HOST=clipe_db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=clipe

# внутренние токены аутентификации установщика и сервера принятия решений
INSTALLER_TOKEN=ZGU3YzFiMDhhYzgyZGFhMTNlNzg3YTVhN2ZkNDYzMWEwZjRmMTFiZTRiNmJiYjcxMzY1Mjk3MWZhM2U4OTY3OCAgLQo=
DECISION_TOKEN=MDU4M2RjNWJlYWY5NzUzOTAyY2VhOGNjNWViNWNkNWNkZDQ3YzdiZjhhMzUyOGExODE4ZjAzMTkzY2ZjNTJmMSAgLQo=

# идентификаторы для installer и decision
INSTALLER_ID=76b8aeff-f8ce-4384-ae1f-d675a5b8637c
DECISION_ID=03bea0f5-cc8d-43b3-9492-c112cecffe54

# путь для подключения через pam_clipe
DECISION_SERVER_BASE_URL=https://clipe